# =========================
# Application
# =========================
APP_ENV=local
APP_BASE_URL=http://localhost/kaiMail
APP_TIMEZONE=Asia/Ho_Chi_Minh
DISPLAY_ERRORS=false
EXPOSE_ERROR_DETAILS=false

# =========================
# Database
# =========================
DB_HOST=localhost
DB_NAME=kaimail
DB_USER=root
DB_PASS=

# DB_NAME=kaishopi_kaimail
# DB_USER=kaishopi_kaimail
# DB_PASS=Thanhphuc0107

DB_CHARSET=utf8mb4
DB_TIMEZONE=+07:00

# =========================
# Security Keys
# =========================
WEBHOOK_SECRET=ce37e6656942effa759f0bb51946369685832e3a1c794ae81911e9c77c272352
API_ACCESS_KEY=1a4ab96ebc9f2c0d08ccf67e111bf814f0501145f6e2d47395541aa1c7d8ac17
API_SECRET_KEY=1a4ab96ebc9f2c0d08ccf67e1edbf814f0507f45f6e2d47395541aa1c7d8ac17
ADMIN_ACCESS_KEY=kaishop@2026
API_REQUEST_TTL=300
API_REQUIRE_HTTPS=true
API_ALLOWED_IPS=
API_ALLOW_SESSION_FALLBACK=false

# =========================
# Session Security
# =========================
SESSION_NAME=kaimail_session
SESSION_LIFETIME=86400
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_HTTP_ONLY=true
SESSION_COOKIE_SAMESITE=Strict
SESSION_COOKIE_PATH=/
SESSION_COOKIE_DOMAIN=tmail.kaishop.id.vn
